body {
  font-family: Avenir Next;
  background-color: #B8A18C;
  font-size: 16px;
}

h1,h2,h3,p {
  color: #003671;
  font-family: Avenir Next;
  background-color: ##F7D8BD;
  s
}

table, th, td {
  border: 1px solid black;
  color: #003671;
}

p.one {
  border-style: solid;
  color: #785637;
  font-family: Avenir Next;
  border-width: 2px;
}

p.three {
  font-family: Snell Roundhand;
  font-weight: bold;
  color: #003671;
  border-style: solid;
  padding: 20px;
  border-color: #785637;
  margin: auto;
  background-color: inherit;
}

td.one {
  font-size: 16;
}

legend {
  border-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20 px;
  text-align: left;
  text-transform: uppercase;
}

fieldset {
  width: 350px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}
